:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 45%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

/*navbar*/
.navbar {
  /* background-color: hsl(var(--card)); */
  width: 1250px;
}

.login-container {
  background-image: url("https://images.unsplash.com/photo-1457301547464-91995555cd25?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aW1hZ2VzJTIwZmZvciUyMGVjb21tZXJjZXxlbnwwfHwwfHx8MA%3D%3D");
  height: 100vh;
  background-size: cover;
  width: 100vw;
  overflow: hidden;
}
.sign-up-container {
  background-image: url("https://images.pexels.com/photos/2850287/pexels-photo-2850287.jpeg?auto=compress&cs=tinysrgb&w=600");
  height: 100vh;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

/*Home-Container*/
.home-page-bg-img {
  background-image: url(../assets/HomSectionImages/HomeFrame.jpg);
  background-size: cover;
  height: 100vh;
}

.home-page-head {
  color: #ffae5d;
}
.home-page-card_-color {
  color: #f83737;
}
